body {


 
    color: blanchedalmond;
    text-align: center;
    
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	
	

}

 html{
 background: url("http://wallpapercave.com/wp/QaiiKRp.jpg") no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 }
 
 img{
 border-radius: 50%;


 }
 
  p{
color: Silver;
text-align:left;
width:300px;
border:20px; 
 margin-left: 70%; 

 } 
 
 h3{
 
background-color: black;
float: left; 
 }
 
 .presidentImage{
 width:48%;
 
 float:left;
 }
 
 
 }
 .form{
 position: absolute; 
 float: clear;
 }

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 